ADF25Mar/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF25Mar"
		},
		"Ls_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Ls_ADLS'"
		},
		"Ls_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adls27.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_Circuit_Ingestion_ws')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4739583468854301.1.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/dcda20ae-72e7-4c04-ad70-f416a9ad6b1d/resourceGroups/test/providers/Microsoft.Databricks/workspaces/gunagi_is_love",
					"existingClusterId": "0324-030733-mivuyxoa"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Ls_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Ingest_Transformat')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transform_race_result",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/transform/calculated_race_result_table"
						},
						"linkedServiceName": {
							"referenceName": "LS_Circuit_Ingestion_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "trans_driver_standing",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "transform_race_result",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/transform/find_dominant_driver"
						},
						"linkedServiceName": {
							"referenceName": "LS_Circuit_Ingestion_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Trans_constructor_standing",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "transform_race_result",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/transform/constructor_standings"
						},
						"linkedServiceName": {
							"referenceName": "LS_Circuit_Ingestion_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "calculated_race_result",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/transform/calculated_race_result_table"
						},
						"linkedServiceName": {
							"referenceName": "LS_Circuit_Ingestion_ws",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Circuit_Ingestion_ws')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Formula1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_window_start_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@formatDateTime(dataset().p_window_start_date,'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"constructorId": {
							"type": "integer"
						},
						"constructorRef": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"nationality": {
							"type": "string"
						},
						"url": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Ingest_Circuit')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get folder details",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Formula1",
								"type": "DatasetReference",
								"parameters": {
									"p_window_start_date": {
										"value": "@pipeline().parameters.p_window_end_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get folder details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get folder details').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Circuit ingest ws",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/load_ingestion_files_latest/1.circuits",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('p_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Circuit_Ingestion_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "race ingest ws",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/load_ingestion_files_latest/4.race",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('p_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Circuit_Ingestion_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "constructor ingest ws",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/load_ingestion_files_latest/3.constructor",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('p_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Circuit_Ingestion_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "result  ingest ws",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/load_ingestion_files_latest/results",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('p_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Circuit_Ingestion_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "driver  ingest 1",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/load_ingestion_files_latest/2.driver",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('p_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Circuit_Ingestion_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "pitstops ingest",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/load_ingestion_files_latest/pit_stop_ingest",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('p_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Circuit_Ingestion_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "laptime ingest ws",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/load_ingestion_files_latest/lap_time_ingest",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('p_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Circuit_Ingestion_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "qualifying ingest",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/raiakshaykumar13@outlook.com/AzureDataBricks/load_ingestion_files_latest/Qualifying_Ingest",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('p_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Circuit_Ingestion_ws",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					}
				},
				"variables": {
					"p_data_source": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-25T17:39:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Formula1')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Circuit_Ingestion_ws')]"
			]
		}
	]
}